@charset "UTF-8";
*, ::before, ::after {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  color: black;
}

/* Accueil */
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header_image {
  display: block;
  margin: auto;
  width: 130px;
  padding: 20px 0px;
}

.Localisation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 20px 10px 0px;
  background: -webkit-gradient(linear, left top, left bottom, from(#cecece), color-stop(15%, #eaeaea));
  background: linear-gradient(to bottom, #cecece, #eaeaea 15%);
  font-family: 'Roboto';
  font-size: 0.8em;
  font-weight: 400;
}

.Localisation i {
  padding-right: 10px;
}

.intro {
  padding: 40px 15px;
  text-align: center;
  background-color: #f6f6f6;
  font-family: 'Roboto';
}

.intro_titre {
  font-size: 1.3em;
  padding: 0px 30px;
  font-weight: 700;
}

.intro_paragraphe {
  font-size: 1em;
  margin: 20px 0px;
  opacity: 0.7;
}

.intro_lien {
  display: inline-block;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  text-align: center;
  border-radius: 25px;
  padding: 15px 20px;
  color: white;
  font-size: 0.8em;
  background: -webkit-gradient(linear, left bottom, left top, from(#9356DC), to(#FF79DA));
  background: linear-gradient(to top, #9356DC, #FF79DA);
}

.intro_lien:hover {
  background: -webkit-gradient(linear, left bottom, left top, from(#f385d6), to(#FF79DA));
  background: linear-gradient(to top, #f385d6, #FF79DA);
}

.fonctionnement {
  padding: 40px 20px;
  font-family: 'Roboto';
}

.fonctionnement_titre {
  font-size: 1.2em;
  padding-bottom: 10px;
  font-weight: 900;
}

.fonctionnement_liste {
  position: relative;
  padding: 0px 0px 0px 9px;
}

.fonctionnement_étape {
  font-size: 0.8em;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin: 20px 0px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #f6f6f6;
  border-radius: 20px;
  padding: 20px;
  -webkit-box-shadow: 0px 5px 10px #0000001f;
          box-shadow: 0px 5px 10px #0000001f;
}

.fonctionnement_étape:hover {
  background-color: #f5edff;
}

.fonctionnement_étape:hover + .fas::before {
  color: #9356dc;
}

.fonctionnement_étape:hover + .fas {
  display: initial;
  opacity: 1;
}

.fonctionnement_étape--un {
  padding-left: 30px;
}

.fonctionnement_étape--un::before {
  content: "1";
  position: absolute;
  text-align: center;
  padding: 4px 7px 1px 7px;
  font-size: 0.9em;
  font-weight: 400;
  border-radius: 60px;
  left: -8px;
  top: 18px;
  color: white;
  background-color: #9356dc;
  opacity: 0.9;
}

.fonctionnement_étape--deux::before {
  content: "2";
  position: absolute;
  text-align: center;
  padding: 4px 7px 1px 7px;
  font-size: 0.9em;
  font-weight: 400;
  border-radius: 60px;
  left: -8px;
  top: 18px;
  color: white;
  background-color: #9356dc;
  opacity: 0.9;
}

.fonctionnement_étape--trois::before {
  content: "3";
  position: absolute;
  text-align: center;
  padding: 4px 7px 1px 7px;
  font-size: 0.9em;
  font-weight: 400;
  border-radius: 60px;
  left: -8px;
  top: 18px;
  color: white;
  background-color: #9356dc;
  opacity: 0.9;
}

.telephonne--violet {
  position: absolute;
  top: 18px;
  left: 40px;
  opacity: 0.5;
  font-size: 1em;
}

.liste {
  position: absolute;
  left: 38px;
  top: 95px;
  opacity: 0.5;
  font-size: 1em;
}

.market {
  position: absolute;
  left: 38px;
  top: 170px;
  opacity: 0.5;
  font-size: 0.9em;
}

.restaurants {
  background-color: #f6f6f6;
  padding: 20px;
}

.restaurants_cards {
  text-align: center;
}

.restaurants_titre {
  font-family: 'Roboto';
  font-size: 1.3em;
  padding-top: 25px;
  font-weight: 900;
}

/* Accueil */
.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 20px 0px;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.card img {
  border-radius: 15px 15px 0px 0px;
  height: 140px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center bottom;
     object-position: center bottom;
}

.card #Charonne {
  -o-object-position: center 61%;
     object-position: center 61%;
}

.card_texte {
  text-align: start;
  padding: 10px;
  background-color: white;
  border-radius: 0px 0px 15px 15px;
  font-family: 'Roboto';
}

.card_texte h3 {
  font-size: 1em;
  font-weight: 900;
  /*  font-weight:600;
                text-shadows: 0px 0px 1px black; */
}

.card_texte p {
  font-size: 0.95em;
  padding: 3px 0px 5px 0px;
  opacity: 0.9;
}

.card .far {
  position: absolute;
  font-size: 1.4em;
  right: 10px;
  bottom: 25px;
  opacity: 0.4;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 400ms 300ms;
  transition: all 400ms 300ms;
}

.card .fas {
  position: absolute;
  font-size: 1.4em;
  right: 10px;
  bottom: 25px;
  opacity: 1;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 400ms;
  transition: -webkit-transform 400ms;
  transition: transform 400ms;
  transition: transform 400ms, -webkit-transform 400ms;
}

.card .fas::before {
  background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
  background: linear-gradient(to bottom, #9356DC, #FF79DA);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  padding: 1px;
}

.card .lien-coeur:hover > .fas {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.card .lien-coeur:hover > .far {
  -webkit-transform: scale(0);
          transform: scale(0);
  opacity: 0;
}

.card_étiquette {
  font-family: 'Roboto';
  position: absolute;
  top: 10px;
  right: 15px;
  background-color: #99E2D0;
  padding: 5px 10px;
  color: #008766;
  font-weight: 500;
  font-size: 0.7em;
  border-radius: 3px;
}

.footer {
  font-family: 'Roboto';
  background-color: #353535;
  padding: 20px 20px;
}

.footer p {
  font-family: 'Shrikhand';
  font-size: 1em;
  margin-bottom: 10px;
  color: white;
}

.footer_liens--restaurant, .footer_liens--partenaire, .footer_liens--légales, .footer_liens--contact {
  display: block;
  margin: 5px 0px;
  color: white;
  font-size: 0.9em;
  opacity: 0.9;
}

.footer_liens .fa-utensils::before {
  color: white;
  font-size: 0.7em;
  margin-right: 12px;
}

.footer_liens .fa-hands-helping::before {
  color: white;
  font-size: 0.6em;
  margin-right: 10px;
}

.footer_liens--légales, .footer_liens--contact {
  opacity: 0.7;
}

.header {
  position: relative;
}

.header_btn-retour {
  position: absolute;
  top: 22px;
  left: 22px;
}

.header .fas {
  font-size: 1.2em;
}

.arrière_plan {
  height: 200px;
  width: 100%;
}

.menu {
  position: relative;
  top: -44px;
  background-color: #f6f6f6;
  border-radius: 40px;
  padding: 20px;
}

.menu_titre {
  font-family: 'Shrikhand';
}

.menu_titre--française {
  padding: 0px 10px;
  font-size: 1.4em;
  font-weight: 400;
}

.menu_titre .far {
  font-size: 1.3em;
  position: absolute;
  top: 27px;
  right: 40px;
  opacity: 0.5;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all  300ms 500ms;
  transition: all  300ms 500ms;
  z-index: 1;
}

.menu_titre .fas {
  font-size: 1.4em;
  position: absolute;
  top: 26px;
  right: 39px;
  opacity: 1;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform  300ms;
  transition: -webkit-transform  300ms;
  transition: transform  300ms;
  transition: transform  300ms, -webkit-transform  300ms;
  z-index: 2;
}

.menu_titre .fas::before {
  background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
  background: linear-gradient(to bottom, #9356DC, #FF79DA);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  padding: 0px 0px;
}

.menu_titre .lien-coeur:hover > .fas {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.menu_titre .lien-coeur:hover > .far {
  -webkit-transform: scale(0);
          transform: scale(0);
}

.entrée {
  padding: 20px 0px;
}

.entrée_titre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 0.9em;
  opacity: 0.9;
  text-transform: uppercase;
  padding: 0px 10px;
}

.entrée_titre:after {
  content: '';
  height: 2px;
  width: 35px;
  position: absolute;
  bottom: -5px;
  background-color: green;
}

.entrée_conteneur {
  margin: 20px 0px;
}

.conteneur {
  font-family: 'Roboto';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  background-color: white;
  border-radius: 14px;
  -webkit-box-shadow: 0px 5px 5px gray;
          box-shadow: 0px 5px 5px gray;
  padding: 10px;
}

.conteneur_titre {
  font-size: 0.9em;
  margin-bottom: 5px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.conteneur_texte {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 0.75em;
}

.conteneur .texte {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  -webkit-transition: all 400ms;
  transition: all 400ms;
}

.conteneur .prix {
  font-weight: 900;
  display: block;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  -webkit-transition: all 400ms;
  transition: all 400ms;
}

.conteneur .check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  background-color: greenyellow;
  border-radius: 20px;
  opacity: 0;
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: all 400ms;
  transition: all 400ms;
  height: 100%;
  width: 10%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.conteneur .fas {
  -webkit-transform: rotate(1turn);
          transform: rotate(1turn);
  -webkit-transition: all 400ms;
  transition: all 400ms;
}

.conteneur:hover > .check {
  opacity: 1;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  border-radius: 0px 13px 13px 0px;
}

.conteneur:hover > .check > .fas {
  -webkit-transform: rotate(0turn);
          transform: rotate(0turn);
}

.conteneur:hover > .conteneur_texte > .prix {
  -webkit-transform: translateX(-280%);
          transform: translateX(-280%);
}

.conteneur:hover > .conteneur_texte > .texte {
  width: 70%;
}
/*# sourceMappingURL=main.css.map */