

.card
{
    display: flex;
    position: relative;
    flex-direction: column;
    margin: 20px 0px;
    transform: scale(1);
    img 
    {
        border-radius: 15px 15px 0px 0px;
        height: $width-image-accueil;
        width: 100%;
        object-fit: cover;
        object-position: center bottom;
    }
    #Charonne{
        object-position: center 61%;
    }
    &_texte{
        text-align: start;
        padding: 10px;
        background-color: white;
        border-radius: 0px 0px 15px 15px;
        font-family: 'Roboto';
        h3{
            font-size: $h3;
            font-weight: 900;
            width: max-content;
        }
        p{
            font-size: $p;
            padding: 3px 0px 5px 0px;
            opacity: 0.9;
            width: max-content;
        }
    }
    &_étiquette{
        font-family: 'Roboto';
        position: absolute;
        top: 10px;
        right: 15px;
        background-color: #99E2D0;
        padding: 5px 10px;
        color: rgba(0,135,102,255);
        font-weight: 500;
        font-size: $etiquette;
        border-radius: 3px;
    }
    .far{
        @include heart(nth($page, 1));
    }
    .fas{
        @include heart(nth($page, 1));
        @include heart-color(violet);
        transform: scale(0);
        transition: all 400ms;
    }
    .lien-coeur:hover > .fas
    {
        transform: scale(1);
    }
    .lien-coeur:hover > .far
    {
        animation-name: coeur;
        animation-delay: 270ms;
        animation-fill-mode: forwards;
    }
    

}
