

.card
{
    background-color: white;
    width: 45%;
    display: flex;
    position: relative;
    margin: 20px 0px;
    transform: scale(1);
    flex-direction: column;
    border-radius: 15px 15px 15px 15px;
    @media  all and(max-width: nth($max-width, 6)) {
    width: auto;

    }
    img {
        border-radius: 15px 15px 0px 0px;
        object-fit: cover;
        object-position: center bottom;
        width: 100%;
        height: nth($width-image-accueil, 7);
        @media all and(max-width: nth($max-width, 6)) {
            height: nth($width-image-accueil, 6);
        }
        @media all and(max-width: nth($max-width, 5)) {
            height: nth($width-image-accueil, 5);
        }
        @media all and(max-width: nth($max-width, 4)) {
            height: nth($width-image-accueil, 4);
        }
        @media all and(max-width: nth($max-width, 3)) {
            height: nth($width-image-accueil, 3);
        }
        @media all and(max-width: nth($max-width, 2)) {
            height: nth($width-image-accueil, 2);
        }
        @media all and(max-width: nth($max-width, 1)) {
            height: nth($width-image-accueil, 1);
        }
            
        
    }
    #Charonne{
        object-position: center 61%;
    }
    &_texte{
        text-align: start;
        padding: 10px;
        background-color: white;
        border-radius: 0px 0px 15px 15px;
        font-family: 'Roboto';
        h3{
            font-size: $h3;
            font-weight: 900;
            width: max-content;
        }
        p{
            font-size: $p;
            padding: 3px 0px 5px 0px;
            opacity: 0.9;
            width: max-content;
        }
    }
    &_étiquette{
        font-family: 'Roboto';
        position: absolute;
        top: 10px;
        right: 15px;
        background-color: #99E2D0;
        padding: 5px 10px;
        color: rgba(0,135,102,255);
        font-weight: 500;
        font-size: $etiquette;
        border-radius: 3px;
    }
    .far{
        @include heart(nth($page, 1));
    }
    .fas{
        @include heart(nth($page, 1));
        @include heart-color(violet);
        transform: scale(0);
        transition: all 400ms;
    }
    .lien-coeur:hover > .fas
    {
        transform: scale(1);
    }
    .lien-coeur:hover > .far
    {
        animation-name: coeur;
        animation-delay: 270ms;
        animation-fill-mode: forwards;
    }
    

}
