@import "/home/ad/Documents/Programmes/Autodidacte/HTML_CSS/Openclassrooms/Projet/p3/Utils/_variables.scss";
.card
{
    
    img 
    {
        height: $cards-size;
        width: auto;
    }
    
    
}

.lien
{
    text-decoration: none;
}