.telephonne--violet{
    position: absolute;
    top: 18px;
    left: 40px;
    opacity: 0.5;
    font-size: 1em;
}

.liste{
    position: absolute;
    left: 38px;
    top: 95px;
    opacity: 0.5;
    font-size: 1em;
}

.market{
    position: absolute;
    left: 38px;
    top: 170px;
    opacity: 0.5;
    font-size: 0.9em;
}