.entrée{
    padding: 20px 0px;

    &_conteneur{
        margin: 20px 0px;
    }
}

.conteneur{
    display: flex;
    flex-direction: column;
    position: relative;
    border: 1px solid black;
    &_titre{
        padding: 5px 0px;
    }
    &_texte{
        display: flex;
        span{
            display: block;
            transform: translateX(500%);
            transition: all 400ms;
        }
    }
}

.conteneur:hover > .validé {
    opacity: 0.6 ;
    transform: scaleX(1);
}

.conteneur:hover > .conteneur_texte > span {
    transform: translateX(300%);
}