.fonctionnement{
    padding: 40px 20px;
    font-family: map-get( $polices, roboto);
    &_titre{
        font-size: nth( $title-size, 1);
        padding-bottom: 10px;
        font-weight: 900;
    }
    &_liste{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: relative;
        padding: 0px 0px 0px 9px;
        @media all and (max-width: 900px){
            flex-direction: column;
        }

    }
    &_étape{
        width: 30%;
        z-index: 1;
        font-size: $stage-size;
        font-weight: 700;
        display: flex;
        position: relative;
        margin: 20px 0px;
        justify-content: center;
        background-color: rgba(246,246,246,255);
        border-radius: 20px;
        padding: 20px;
        box-shadow: 0px 5px 10px #0000001f;
        @media all and(max-width: 900px){
            width: auto;
        }

        &:hover{
            background-color: rgba(245,237,255,255);
        }
    }
    &_étape:hover > .fas::before {
        color: $number-violet;
        
    }
    &_étape:hover > .fas{
        display: initial;
        opacity: 1;
    }
    
    &_étape--un{
        padding-left: 30px;
    }
    &_étape--un::before{
        content: "1";
        @include Accueil-num;
    }
    &_étape--deux::before{
        content: "2";
        position: absolute;
        @include Accueil-num;
    }
    &_étape--trois::before{
        content: "3";
        @include Accueil-num;
    }

}