.intro {
    padding: 40px 15px;
    text-align: center;
    background-color: rgba(246,246,246,255);
    font-family: 'Roboto';
    &_titre{
        font-size: 1.3em;
        padding: 0px 30px;
        font-weight: 700;
    }

    &_paragraphe{
        font-size: 1em;
        margin: 20px 0px;
        opacity: 0.7;
    }
    &_lien{
        display: inline-block;
        width: max-content;
        text-align: center;
        border-radius: 25px;
        padding: 15px 20px;
        color: white;
        font-size: 0.8em;
        background: linear-gradient(to top,#9356DC ,#FF79DA ) ;
    }
    &_lien:hover{
        background: linear-gradient(to top,#f385d6 ,#FF79DA );
    }
}