
.Localisation {
    display: flex;
    justify-content: center;
    padding: 10px 0px;
    background: map-get( $gradient, localisation);
    font-family: map-get($polices, roboto);
    font-size: nth($localisation-size, 1);
    font-weight: 400;
    i {
        padding-right: 10px;
    }
}